@font-face {
    font-family: font_especial;
    src: url(../fontes/idroid.otf);
}
:root{
    --core1: #c5ebd6;
    --core2: #83e1ad;
    --core3: #3ddc84;
    --core4: #2fa866;
    --core5: #1a5c37;
    --core6: #063d1e;

    --font_padrao: 'Arial, Helvetica, sans-serif';
    --android: 'font_especial';

}

*{
    margin: 0px;
    padding: 0px;
}
body{
   
    background-color: #c5ebd6;
    font-family: var(--font_padrao);
}
header {
    background-color: var(--core5);
    color: white;
   
}
header > p{
        color: white;
    }
    nav> a{
        color: white;
    }
header >h1 {
    color:  var(--core6);

}
h3, h2{
    font-family: var(--android);
}
main{
    background-color: white;
}
footer{
    background-color: #063d1e;
}